@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* navbar styles */
     .display-flex{
        display: flex;
     }
 
     .justify-content{
        justify-content: space-between;
     }

     .navbar{
      margin: 20px 140px 20px 100px;
      display: flex;
      align-items: center;
     }

    .nav-title{
        font-weight: bold;
        font-size: 32;
        margin-left: 5px;
    }

    .nav-item{
      list-style: none;
      margin: 30px;
    }

    .nav-items{
        margin: 10px 186px;
        font-size: 20px;
    }

    .item-1{
        font-weight: bold;
        color: #FEA301;
    }

    .item-2{
        font-weight:500 ;
        color: #01ACFD;
    }

    .item-3{
        font-weight: 500;
        color: #05D4DF;
    }

    .item-4{
        font-weight: 500;
        color: #5D58EF;
    }
    .nav-link{
        text-decoration: none;
    }
 
    .nav-btn{
        padding: 10px 60px;
        background-color:#FEA301 ;
        border-radius:12px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px ;
        border: none;
        height: 50px;
        width: 190px;
    }
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }


  /* Standard Curriculum styles */



  /* Our Stories styles */



  /* footer styles */



  /*mobile responsive  */
 @media screen and (max-width: 576px) {
     .menu, .nav-title, .nav-btn{
        display: none;
     }

     .navbar{
        justify-content: flex-start;
        padding: 10px 20px;
    }

     .logo{       
        flex: 0;
     }
    
 }





  /* medium responsive */
  