@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* body{
    margin: 0px;
    padding: 0px;
  box-sizing: border-box;
  } */

/* shared styles */
 .semibold-font{
    font-weight: 500;
}
 .color-1{
    color: #FEA301;
 }
  .color-2{
    color: #01ACFD;
  }

  .color-3{
    color: #05D4DF;
  }

  .color-4{
    color: #5D58EF;
  }

   .color-5{
    color: #a949fd;
   }
  /* navbar styles */
     .display-flex{
        display: flex;
     }
 
     .justify-content{
        justify-content: space-between;
     }

     .navbar{
      margin: 20px 140px 20px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
     }

    .nav-title{
        font-weight: bold;
        font-size: 32;
        margin-left: 5px;
    }

    .nav-item{
      list-style: none;
      margin: 30px;
    }

    .nav-items{
        margin: 10px 186px;
        font-size: 20px;
    }

    .item-1{
        font-weight: bold;
        color: #FEA301;
    }
  
    .nav-link{
        text-decoration: none;
    }
 
    .nav-btn{
        padding: 10px 60px;
        background-color:#FEA301 ;
        border-radius:12px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px ;
        border: none;
        height: 50px;
        width: 190px;
    }
    
    .logo img {
      height: 50px;
    }
     .menu-icon{
      display: none;
      width: 30px;
      height: auto;
      cursor: pointer;
     }
/* banner styles */
      .banner-container{
         display: flex;
         margin: 10px 140px 60px 140px;
         gap: 50px;
         align-items: center;
         justify-content: center;
         flex-direction: row;
      }
   
      .banner{
        flex: 1;
        text-align: left;
    }

      .banner-title{
        font-size: 52px;
        font-weight: bold;
        margin: 120px 50px 24px 0px;
      }

      .banner-description{
        font-size: 20px;
        margin: 24px 0px;
      }

      .banner-btn{
        font-size: 20px;
        font-weight: bold;
        background-color: #111111;
        border-radius: 12px;
        color: white;
        padding: 10px 47px;
        border: none;
      }

   .banner-img{
    width: 470px;
    height: 575px;
    flex: 1;
    text-align: right;
    }

    .banner-img image {
        height: auto;
        max-width: 100%;
       display: block;
    }
  
   .navbar-line{
    display: none;
   }



  /* Standard Curriculum styles */
   .curriculam-container{
    background-image: url('../assets/bg.png');
    width: 1440px;
    height: 800px;
   }

  .curriculam-boxes{
    display: flex;
    justify-content: space-between;
    margin: 80px 140px;
    gap: 20px;
    text-align: center;
    width: 1160px;
    height: 480px;
    box-shadow: 0, 0, 28;
  }

  .curriculam-title{
   font-size: 46px;
   font-weight: bold;
   text-align: center;
   margin: 30px 70px;
  }

    .curriculam-text{
      margin: 30px 60px;
      font-size: 16px;
      font-weight: 600;
    }

    .curriculam-btn{
      margin: 30px 130px 50px 130px;
      font-size: 16px;
      font-weight: bold;
        }

   .curriculam-box-1{
    width: 370px;
    height: 470px;
      background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
      border-radius: 20px;
      border: 0.5px solid rgb(237, 236, 236);
    }

   .curriculam-box-2{
    width: 370px;
    height: 470px;
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
    border-radius: 20px;
    border: 0.5px solid rgb(237, 236, 236);
   }

   .curriculam-box-3{
    width: 370px;
    height: 470px;
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
    border-radius: 20px;
    border: 0.5px solid rgb(237, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.05);
    box-shadow:0, 2px, 2px, rgba(0, 0, 0, 0.05);
   }

   .curriculam-img{
    width: 125px;
    height: 125px;
    margin: 50px 80px;
    padding: 5px;
   }

   .icon-text{
    font-size: 24px;
    color: white;
   }

   .icon-btn{
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   }

   .icon-arrow{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
   }

  /* Our Stories styles */
.our-story{
  /* display: flex;
  justify-content: space-between; */
  margin: 200px 140px 80px 140px;
}
.stories{
  width: 100%;
  margin: 0 auto;
  padding: 2px;
  gap: 20px;
 background: linear-gradient(to top, rgba(255, 229, 184, 1), rgba(255, 255, 255, 1) ),  
 url(../assets/bg.png);
 background-size: cover;
 background-position: center;
}

.story-title{
  font-size:46px ;
  font-weight:bold ;
  text-align: center;
  margin-bottom: 20px;
}
.story-pictures{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.story-pic{
  border: 1px solid rgb(250, 249, 249);
  border-radius: 10px;
 background-color: white;
 padding: 5px;
 text-align: center;
 
}
.stories-images{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width:540px;
  height: 630px;
}

.story-img{
  text-align: left;
  border-radius:16px ;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
 background-color: white;
 height: auto;
}

.story-text{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.main-img{
 margin-left: 0px;
  border-radius: 10px;
}

.view-btn{
  text-align: center;
  color: white;
  background-color: black;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 620px 60px 620px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
}
 .img-container{
  width: 100%;
 }

.story-btn{
  display:;
  /* margin: -314px 327px 33px 38px; */
  border: none;
  padding: 8px 15px;
  border-radius: 48px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
}

.color-6{
  background-color: #3CD8E8;
}
.color-7{
background-color: #95B226;
}
.color-8{
  background-color: #5D58F0;
}
  /* footer styles */


.marquee-container{
  width: 100%;
  overflow: hidden;
  background-color: rgb(204, 180, 180);
  padding: 10px 0;
}
.marquee-text{
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

@keyframes marquee {
  from{
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
  /*mobile responsive  */
 @media screen and (max-width:576px) {
     .menu, .nav-title, .nav-btn{
        display: none;
     }
     
     .navbar{
      justify-content: flex-start;
      padding: 10px 20px;
     }
      
      .navbar-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: lightgreen;
        margin: 0;
      }
     .logo{
   position: absolute;
   top: 10px;
   left: 10px;
     }

     .logo img {
   height: 40px;
     }
   /* menu icon */
   .menu-icon{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
   }

   
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
       margin: 10px 10px 5px 30px;
    }
    .banner-img{
        text-align: center;
    }
    .banner{
        text-align: center;
        padding-left: 30px;
    }

    
   /* standard curriculam */
   .curriculam-boxes {
    flex-direction: column;
    align-items: center;
    /* margin: 20px 0; */
    /* width: 100%; */
    /* gap: 20px; */
  }

  .curriculam-box-1,
  .curriculam-box-2,
  .curriculam-box-3 {
    /* width: auto;
    height: auto; */
    padding: 20px;
  }

  .curriculam-text{
    margin: 10px 0;
    font-size: 14px;
  }

  .curriculam-btn{
    margin: 10px auto;
    font-size: 14px;
  }

  .curriculam-img{
    width: 100px;
    height: 100px;
    margin: 20px auto;
  }

  .curriculam-title{
    font-size: 32px;
    margin: 20px 0;
  }

  .icon-arrow{
    display: none;
  }
 }
 

  


  /* medium responsive */
  